.footer {
  text-align: center;
  color: var(--clr-primary);
}

.footerBox{
  /* border: 3px solid var(--clr-primary); */
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
  border-radius: 15px;
  background-color: transparent;
  padding: 0px;
  height: auto;
}

/* .footerBox:hover {
  transform: scale(1.04);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 15px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
} */

@media (max-width: 600px) {
  .footerBox{
    /* border: 3px solid var(--clr-primary); */
    width: 100%;
    border-radius: 0px;
    margin-bottom: 0px;
  }
}

.calendly-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.calendly-button {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  padding: 0px 30px;
  margin-top: -30px;
  margin-bottom: 35px;
  transition: all 0.3s ease-in-out;
}

.calendly-button:hover {
  background-color: var(--clr-primary);
  color: var(--clr-bg);
}




